html {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;
    -webkit-perspective: 1px;
    perspective-origin: 0 0;
    -webkit-perspective-origin: 0 0;
    font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}


a {
    text-decoration: none;
}

#header {
    transform-origin: 0 0;
    transform: translateZ(-2px) scale(3);
    -webkit-transform: translateZ(-2px) scale(3);
    z-index: -1;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#content {
    z-index: 3;
    position: absolute;
    top: 0;
}
.banner {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 146px;
    position: relative;
}

.banner-box {
    display: flex;
    align-content: center;
    align-items: center;
    height: 146px;
    background: transparent;
}
.banner-word {
    height: 110px;
    width: 150px;
    display: block;
}
.background {
    background: #ffffff;
    padding-top: 17px;
}
.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.margin {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.purple-color {
    color: #690ac2;
}

.min-font {
    font-size: 12px;
}

.middle-font {
    font-size: 14px;
}

.big-font {
    font-size: 24px;
}

.top {
    margin-top: 25px;
}

.box {
    width: 36%;
    height: 25px;
    border: 2px solid #690ac2;
    border-radius: 8px;
}

.word1 {
    margin-top: 17px;
}

.word2 {
    margin-top: 14px;
}

.word3 {
    margin-top: 8px;
}

.width {
    width: 80%;
}

.arrow {
    width: 15px;
    height: 12px;
    display: block;
}

.link-color {
    color: #f90d76;
}